/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle.dtsi"
#include <dt-bindings/zmk/trackball_pim447.h>

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
};

&i2c0 {
    status = "okay";
    
    trackball_pim447: trackball@0A {
        compatible = "pimoroni,trackball_pim447";
        reg = <0x0A>;
        sensitivity = <64>;  /* Range: 1-255 */
        move-factor = <2>;   /* Range: 1-10, scales cursor movement speed */
        scroll-factor = <1>; /* Range: 1-10, scales scrolling speed */
        
        /* Optional LED color (RGB values 0-255) */
        led-red = <255>;
        led-green = <0>;
        led-blue = <0>;
        
        /* Optional axis inversion */
        invert-x;  /* Uncomment to invert X axis */
        /* invert-y; */  /* Uncomment to invert Y axis */
    };
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball_pim447>;
    };
    
    right_split_device {
        compatible = "zmk,input-split-device";
    };
};

&pro_micro_i2c {
	status = "okay";

	trackball_pim447@a {

		compatible = "pimoroni,trackball_pim447";
		reg = <0xa>;
		label = "TRACKBALL_PIM447";

		move-factor = <2>;      // Increase pointer velocity (default: 1)
		invert-move-x;          // Invert pointer X axis (left is right, and vice versa)
		invert-move-y;          // Invert pointer Y axis (up is down, and vice versa)
		button = <1>;           // Send right-click when pressing the ball (default: 0, ie. left-click)
		swap-axes;              // Swap X and Y axes (horizontal is vertical, and vice versa)
		scroll-divisor = <1>;   // Increase wheel velocity (default: 2)
		invert-scroll-x;        // Invert wheel X axis (left is right, and vice versa)
		invert-scroll-y;        // Invert wheel Y axis (up is down, and vice versa)
		mode = <PIM447_SCROLL>; // Act as mouse wheels at startup (default: PIM447_MOVE for a pointer)
	};
};